jf.example.com {
  tls {
    curves x25519
    dns cloudflare {
      api_token {env.CF_API_TOKEN}
      zone_token {env.CF_ZONE_TOKEN}
    }
    # lets encrypt doesn't support ed25519 yet
    key_type rsa4096
    # VLCKit does not support TLS 1.3 yet
    # protocols tls1.3
  }

  reverse_proxy jellyfin:8096
}
